.pageContent {
	padding: 1rem 20px;
}

.heroImg {
	min-height: 70vh;
	width: 100%;
	position: relative;
	background-color: #660569;
}

.heroImg img {
	width: 1300px;
	height: 450px;
}

.heroImgText {
	text-align: center;
	position: absolute;
	display: flex;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 30px;
	font-family: "Faux";
}

.Image-Container {
	display: flex;
	text-align: center;
	position: relative;
	top: -7rem;
	padding: 20px;
	width: 90%;
	left: 5%;
	background-color: white;
}

.Image-Container img {
	clip-path: circle(50% at 50% 50%);
	width: 55%;
	height: auto;
}

.imageContent {
	transition: 500ms;
}

.imageContent:hover {
	transform: scale(1.03);
}

.imgText {
	text-align: left;
	margin: 1rem;
}

.titleText {
	font-size: smaller;
	color: gray;
}

.pageContent2 {
	background-color: #660569;
	margin: 5rem;
	position: relative;
	top: -4rem;
}

.history h1 {
	color: black;
	text-align: center;
	top: -5rem;
	position: relative;
	font-family: "Faux";
}

.historyContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding: 20px;
	/*padding: 0rem 3rem 0rem 3rem;*/
}

.historyMap img {
	width: 30rem;
	height: auto;
	padding: 10px;
}
