@media screen and (max-width: 769px) {
	header {
		padding: 0;
	}

	.navButton span {
		display: flex;
		width: 20px;
		height: 2px;
	}

	.screenLogo a {
		display: flex;
	}

	.navigationLinks {
		display: none;
	}

	.hamburgerNav {
		border-left: white solid 1px;
	}

	.screenLogo-NavButton {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.historyContainer,
	.electionContainer,
	.electionResultsContainer,
	.oppositionContainer,
	.lawsContainer {
		flex-wrap: wrap;
	}

	.electionImages img {
		width: 35rem;
		height: auto;
		padding: 20px;
		border-radius: 50px;
	}
}
